<div class="cadastro-tarefa">
  <h5>
    Cadastro tarefa
  </h5>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Título</mat-label>
      <input matInput name="titulo" required [(ngModel)]="titulo" placeholder="Placeholder">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Descrição</mat-label>
      <input matInput name="titulo" name="descricao" [(ngModel)]="descricao" placeholder="Placeholder">
    </mat-form-field>
  </div>

  <mat-form-field class="input" id="categoria">
    <mat-label>Categoria</mat-label>
    <mat-select [(ngModel)]="categoriaId">
      <mat-option *ngFor="let c of categorias" [value]="c.categoriaId">
        {{ c.nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- 
    <mat-form-field>
      <mat-label>Data de Conclusão</mat-label>
      <input matInput [matDatepicker]="picker" name="concluirEm" [(ngModel)]="tarefa.concluirEm">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->

  <div>
    <button mat-fab extended color="primary" (click)="salvarTarefa()" routerLink="" type="submit">
      Salvar
    </button>
  </div>
</div>